<html lang="en">

<head>
    <link rel="icon" href="LOGO_TIMING_MAIN.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./css/navbar.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Timing</title>
</head>

<body>
    <div class="navbar">
        <a href="/"><span id="icon_navbar"></span></a>
        <a id="login_a" href="./login"><span><i class="bi bi-arrow-right-square-fill"></i></span> Đăng nhập</a>
    </div>
    <div class="container p-5 my-5" style="text-align: center;">
        <h1 style="color: 1c00f4;">Website tính giờ giảng thực tế của giảng viên</h1>
        <div style="padding: 20px;"><b>Họ tên giảng viên hoặc user ID: </b><input type="text"> </div>
        <div></div>
        <button style="background-color: #1c00f4;" type="button" class="btn btn-primary"><i class="bi bi-search"></i>
            Check</button>
    </div>
</body>
<footer class="text-center text-white" style="background-color: #1c00f4;margin-top: 100%;">

    <div class="container p-3 pb-0">
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-2">Đăng ký ngay</span>
                <button data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
                    Đăng ký
                </button>
            </p>
        </section>
        <div class="text-center p-2">
            © 2024 Copyright:
            <a class="text-white" href="#link">Đồ án CNTT1</a>
        </div>
</footer>

</html>