<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Công cụ quản lý</title>
    <link rel="icon" href="LOGO_TIMING_MAIN.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/css_style_main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/"><span id="icon_navbar2"></span></a>
        <a href="/userhome"><i class="bi bi-house"></i> Home</a>
        <a href="/manage"><i class="bi bi-clipboard"></i> Công cụ quản lý</a>
        <a href="/exeltool"><i class="bi bi-file-earmark-ruled"></i> Làm việc với Exel</a>
        <div id="user_infor"><a href="#infor"><i class="bi bi-person-circle" style="font-size: 25px;"></i></a></div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="bi bi-three-dots" style="font-size: 25px;"></i>
        </a>
    </div>
    <div class="container p-5 my-5 border" id="QL_gv">
        <h1><i class="bi bi-people"></i> Quản lý giảng viên</h1>
        <p>Chỉnh sửa thông tin hồ sơ, tài khoản của giảng viên.</p>
    </div>

    <div class="container p-5 my-5 bg-dark text-white" id="QL_hp">
        <h1><i class="bi bi-box"></i> Quản lý học phần, học kỳ</h1>
        <p>Chỉnh sửa thông tin, học kỳ, năm học, học phần, lớp học phần.</p>
    </div>

    <div class="container p-5 my-5 bg-primary text-white" id="QL_gd">
        <h1><i class="bi bi-clock"></i> Quản lý thời gian giảng dạy</h1>
        <p>Chỉnh sửa thời gian giảng dạy, thống kê và báo cáo.</p>
    </div>

</body>
<script src="/script/navbar_script.js"></script>
<script src="/script/linkweb.js"></script>

</html>