<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel="icon" href="LOGO_TIMING_MAIN.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/css_style_main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/"><span id="icon_navbar2"></span></a>
        <a href="/userhome"><i class="bi bi-house"></i> Home</a>
        <a href="/manage"><i class="bi bi-clipboard"></i> Công cụ quản lý</a>
        <a href="/exeltool"><i class="bi bi-file-earmark-ruled"></i> Làm việc với Exel</a>
        <div id="user_infor"><a href="#infor"><i class="bi bi-person-circle" style="font-size: 25px;"></i></a></div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="bi bi-three-dots" style="font-size: 25px;"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-sm-6 p-3">
            <div style="margin: 5px;">
                <div class="row">
                    <div class="col-sm-2 p-2">
                        <b>Chọn học kỳ:</b>
                    </div>
                    <div class="col-sm-10 p-2">
                        <select class="form-select" aria-label="Default select example" style="text-align: center;"
                            id="select_HocKy">
                            <% hocky.forEach((option)=> { %>
                                <option value="<%= option.ID_HK %>">
                                    <%= option.MaHK %> - <%= option.TenHocKy %> - <%= option.NamHoc %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 p-2">
                    <div id="note" style="text-align: center; opacity:30%;margin-bottom: 0;"></div>
                    <div id="table-container" style="overflow: auto;height: 400px;">

                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-rounded" onclick="exportToExcel()"><i
                    class="bi bi-file-earmark-arrow-down"></i> Xuất
                file exel</button>
        </div>
        <div class="col-sm-5 p-4 text-dark">

            <div class="form_data">
                <div class="row">
                    <div class="col-sm-12 p-1 text-white">
                        <h3 style="background-color: #1c00f4; padding: 5px;"><i class="bi bi-pencil-square"></i> Form
                            chỉnh sửa</h3>
                    </div>
                    <div class="col-sm-5 p-1">
                        <input id="tenGiangvien" placeholder="Họ và giảng viên">
                    </div>
                    <div class="col-sm-7 p-1">
                        <b>Tổng thời giang giảng dạy:</b>
                    </div>
                    <div class="col-sm-4 p-1">
                        <input id="tenHP" placeholder="Tên học phần">
                    </div>
                    <div class="col-sm-4 p-1">
                        <input id="tenlopHP" placeholder="Tên lớp học phần">
                    </div>
                    <div class="col-sm-4 p-1">
                        <input id="Siso" placeholder="Sỉ số">
                    </div>
                    <div class="col-sm-4 p-1"><button type="button" class="btn btn-outline-success btn-rounded"
                            id="save_btn"><i class="bi bi-save2"></i>
                            Lưu thông tin
                        </button>
                    </div>
                    <div class="col-sm-4 p-1"><button type="button" class="btn btn-outline-danger btn-rounded"
                            id="del_btn"><i class="bi bi-trash"></i>
                            Xoá thông tin
                        </button>
                    </div>

                </div>
            </div>
            <div class="form-check form-switch">
                <label for="enableForm">Chế độ chỉnh sửa</label>
                <input type="checkbox" class="form-check-input" role="switch" id="form_enable">
            </div>
        </div>
</body>
<script src="/script/navbar_script.js"></script>
<script src="/script/userhomepage.js"></script>

</html>